%p
  Please upload the Excel file with the list of transactions
  %em
    (validation of a file with thousands of lines might take a couple of minutes!)
%p
  All these transactions will be posted under the username provided in the next step.

= render 'form', transaction: transaction
