%p
  The uploaded file contained errors!
%p
  = link_to "Download it", file_download_transaction_path(transaction), class: 'btn btn-success'
  = link_to "Back", transactions_path, class: 'btn btn-default'

