- if browser.safari?
  1. Enable third party cookies - In Safari go to the menu point Safari -> Preferences -> Privacy and select "Always allow" under "Cookies and website data" and reload this Mambu App.
  %br
  2. Click
  = link_to "here", safari_path, target: "_blank"
  and wait until a new page opens in a separate tab, then close the new tab and restart this Mambu App.
- else
  Looks like some data is missing, please restart the Mambu App in order to progress.
